# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/xubuntu-64-java-developer/.vagrant/**/
/xubuntu-64-java-developer/puppet/.librarian/**/
/xubuntu-64-java-developer/puppet/.tmp/**/
/xubuntu-64-java-developer/puppet/modules/**/
/xubuntu-64-java-developer/puppet/Puppetfile.lock
